#!/bin/bash
# {{ ansible_managed }}
{{ tinystatus_bindir }}/tinystatus {{ tinystatus_configdir }}/checks.csv {{ tinystatus_configdir }}/incidents.txt > {{ tinystatus_webdir }}/{{ tinystatus_pagefile }}
